<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>
</head>

<%- include('partials/_header') %>

<body>
  <div class='main-container'>
    <div class='content'>
      <div class='list-games'>
        <% for (let i = 0; i < 2; i ++) { %>
        <div class='game'>
          <div class="game-img">
            <img src="/images/placeholder.jpeg">
            <div>
              <button class="btn center" type="submit">Host</button>
              <button class="btn center" type="submit">Join</button>
            </div>
          </div>
          <div class='game-info'>
            <h2><%= gamesData.name %></h2>
            <h3>Description</h3>
            <p><%= gamesData.description %></p>
            <h3>How to Play</h3>
            <p><%= gamesData.tutorial %></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <%- include('partials/_playerdeets') %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
