<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

<%- include('partials/_header') %>

<body>
  <div class='main-container' data-simplebar>
    <div class='content'>
      <div class='list-games mt1em'>
        <% for (let i = 0; i < 2; i ++) { %>
        <div class='game'>
          <div class='game-join'>
            <div class="game-img">
            </div>
            <div class="lobby-buttons">
              <button class="btn purple darken-4 host" type="button">Host</button>
              <button class="btn s6 join" id="<%= gamesData.id %>" type="button">Join</button>
            </div>
          </div>
          <div class='game-info center-align'>
            <h3 class="less-margins less-margins">
              <%= gamesData.name %>
              LOREM IPSUM
            </h3>
            <h5 class="less-margins">Description</h5>
            <p class="left-align less-margins">
              <%= gamesData.description %>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non et quod, eos eaque laborum velit ullam deleniti necessitatibus excepturi, suscipit, asperiores perspiciatis. At aperiam vitae nihil recusandae natus obcaecati debitis!
            </p>
            <h5 class="less-margins">How to Play</h5>
            <p class="left-align less-margins">
              <%= gamesData.tutorial %>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolore quasi obcaecati est numquam quas similique rem enim. Ipsam modi nihil reiciendis. Labore provident pariatur asperiores a alias blanditiis iure!
            </p>
          </div>
        </div>
        <% } %>
      </div>
      <div class='list-rooms mt1em'>
        <h3 class="center-align">
          AVAILABLE GAMES
        </h3>
        <div class='rooms'>
          
          <table class="striped highlight centered">
            <thead>
              <tr>
                <th>Room</th>
                <th>Players</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                  <td>
                    1/4
                  </td>
              </tr>
              <tr>
                <td>
                   2
                  </td>
                  <td>
                    1/4
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/_playerdeets') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>
</body>

</html>
